@model MVCMailSystem.Models.Mail

@{
    ViewBag.Title = "Create";
    ViewBag.username = this.Session["username"];
    ViewBag.uid = this.Session["empID"];
    
}

<h2>Create</h2>

<p>Mail From: @ViewBag.username @ViewBag.uid</p>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Mail</h4>
        <hr />
        @Html.ValidationSummary(true)

        <p> Note: senderID is a temp field for now. You can view the Employees list to copy/paste a valid employee GUID for testing. 
        <br />Once integrated this would be the passed Guid of the logged in manager, stored in a hidden field. </p>
        <div class="form-group">
            @Html.LabelFor(model => model.senderID, new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.senderID, null, "senderID")        
                @Html.ValidationMessageFor(model => model.senderID)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.text, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.text, new { @class = "form-control", @rows = 5 })
                @Html.ValidationMessageFor(model => model.text)
            </div>
        </div>

        @*<div class="form-group">
       //@Html.LabelFor(model => model.dateSent, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            //@Html.EditorFor(model => model.dateSent)
            //@Html.ValidationMessageFor(model => model.dateSent)
        </div>
    </div>*@


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
