@model MVCMailSystem.Models.Mail

@{
    ViewBag.Title = "Create";
    ViewBag.username = this.Session["EmailAddress"];
    ViewBag.uid = this.Session["RecipientID"];
}

<h2>Create Message</h2>

@*Html.Action("Index", "TreeView");*@

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="col-md-10">
                <p><b>Sender: </b>@ViewBag.username 
                @Html.HiddenFor(model => model.SenderID)
                @Html.ValidationMessageFor(model => model.SenderID)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.MailText, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.MailText, new { @class = "form-control", @rows = 5 })
                @Html.ValidationMessageFor(model => model.MailText)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
