@model MVCMailSystem.Models.Mail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mail</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MailText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
