@model IEnumerable<MVCMailSystem.Models.Employee>

@{
    ViewBag.Title = "Employees";

    var grid = new System.Web.Helpers.WebGrid(source: Model, rowsPerPage: 10);
}

<h2>Index</h2>

<p>
To test sending a message you'll need a Guid for the sender. You can copy one from here. 
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stafftype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mgrID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stafftype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mgrID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeID })
        </td>
    </tr>*@

    @grid.GetHtml(
        tableStyle: "gridTable",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
                grid.Column("ID"),    
                grid.Column("EmailAddress"),
                grid.Column("StaffType"),
                grid.Column("FirstName"),
                grid.Column("LastName"),
                grid.Column("ManagerID"),
                grid.Column(
                    header: "",
                    style: "text-align-center",
                    format: item => new HtmlString(
                                Html.ActionLink("Edit", "Edit", new { ID = item.ID }).ToString() + " | " +
                                        Html.ActionLink("Details", "Details", new { ID = item.ID }).ToString() + " | " +
                                        Html.ActionLink("Delete", "Delete", new { ID = item.ID }).ToString()
                    )
                )
        )
    )
</table>
