@model MVCMailSystem.ViewModel.TreeViewVM

@{
    ViewBag.Title = "Organization Structure";
}

<h2>@ViewBag.Title</h2>

<br/><b>Check boxes to select Message Recipients: </b>
<p></p>
<div id="tree" style="border: 1px solid #000">
    <ul>
        @foreach (var item in Model.EmployeeVM)
        {
            var unreadmsg = false;
            if (item.StaffType == "admin")
            {  foreach (var itemMail in Model.MailBoxVM)
                {
                  if (itemMail.RecipientID == item.ID && itemMail.DateRead != null)
                  {
                      unreadmsg = true;
                      break;
                  }
                  else {
                      unreadmsg = false;
                  }
                }
                <li id=@item.ID>
                    @if (unreadmsg)
                    {
                        <span style="color:red">
                            @Html.DisplayFor(modelItem => item.Name)
                        </span>
                    }
                    else
                    {
                        <span style="color:green">
                            @Html.DisplayFor(modelItem => item.Name)
                        </span>
                    }
    
                    <ul>
                        @foreach (var t in Model.EmployeeVM)
                        {
                            foreach (var tMail in Model.MailBoxVM)
                            {
                                if (tMail.RecipientID == item.ID && tMail.DateRead != null)
                                {
                                    unreadmsg = true;
                                    break;
                                }
                                else
                                {
                                    unreadmsg = false;
                                }
                            }
                            if (t.StaffType == "manager")
                            { 
                                <li id=@t.ID>
                                   @if (unreadmsg)
                                    {
                                        <span style="color:red">
                                            @Html.DisplayFor(modelItem => t.Name)
                                        </span>
                                    }
                                    else
                                    {
                                        <span style="color:green">
                                            @Html.DisplayFor(modelItem => t.Name)
                                        </span>
                                    }
                                <ul>
                                        @foreach (var s in Model.EmployeeVM)
                                        {
                                            foreach (var sMail in Model.MailBoxVM)
                                            {
                                                if (sMail.RecipientID == item.ID && sMail.DateRead != null)
                                                {
                                                    unreadmsg = true;
                                                    break;
                                                }
                                                else
                                                {
                                                    unreadmsg = false;
                                                }
                                            }
                                            if (t.ID == s.ManagerID)
                                            {
                                                <li id=@s.ID>
                                                    @if (unreadmsg)
                                                    {
                                                        <span style="color:red">
                                                            @Html.DisplayFor(modelItem => s.Name)
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span style="color:green">
                                                            @Html.DisplayFor(modelItem => s.Name)
                                                        </span>
                                                    }
                                                </li>    
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </li>
            }
        }
    </ul>
</div>
<script>
    $(function () {
        $("#tree").jstree(
            {
                "checkbox": {
                    "three_state": false
                },
                "plugins": ["checkbox"]
            }
      )
    });

    //  Displays selected node information - id and text from the tree.
    //  Notice that multiple nodes may have same text, but the id is nunique
    function display_selected_node() {
        var selectedNodeIds = [];
        var selectedNodeTexts = [];

        // slectedNodes is an array that stores selected nodes from the tree
        var selectedNodes = $('#tree').jstree("get_selected", true);

        $.each(selectedNodes, function () {
            // stores ids of selected nodes
            selectedNodeIds.push(this.id);

            // stores texts of selected nodes
            selectedNodeTexts.push(this.text);
        });

        // displays ids of the selected nodes
        //document.getElementById('result_ids').innerHTML = selectedNodeIds.join(", ");

        // displays texts of the selected nodes
        document.getElementById('result_texts').innerHTML = selectedNodeTexts.join(", ");


        @*
            passes selected ids to the controller
        *@
        document.getElementById('selected_ids').value = $('#tree').jstree("get_selected");

    }
</script>

<!-- button that fires display_selected_node function above on click -->
<button onclick="display_selected_node()">Set Message Recipients</button>

<br />
<br />
<br />

@*The results generated at client side displayed here.*@
<!--
Selected Employee IDs:

<div id="result_ids"></div>

<br />
    -->
Selected Recipient Names:
<div id="result_texts"></div>
    
<br />
<br />
<br />

@using (Html.BeginForm("Index", "TreeView", FormMethod.Post,
                                      new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>

        @*
            hidden input type. the data is retrieved from the script above.
                - JStree version of selected node ids
        *@
        <input id="selected_ids" name="employees" type="hidden" />
        <input type="submit" value="Proceed to Message Creation" onclick="display_selected_node()" />
    </fieldset>
}

@*
    The refined version of selected node ids that are retieved from the server
    display at here.
*@
@*
    <h2>Refined Version of Selected Node IDs from the Server:</h2>
    <h3>@ViewBag.SelectedEmployees</h3>
*@