<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MVC Mail System</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/default/style.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jstree")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Login", "Index", "Login", null, new { @class = "navbar-brand" })
                @Html.ActionLink("MVC Mail System", "Index", "Home", null, new { @class = "navbar-brand" })
                @Html.ActionLink("Mail", "Index", "Mail", null, new { @class = "navbar-brand" })
                @Html.ActionLink("MailBoxes", "Index", "MailBox", null, new { @class = "navbar-brand" })
                @Html.ActionLink("Employees", "Index", "Employee", null, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MVC Mail System - A. Lockhart</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
